@font-face {
	font-family: 'DroidSerif-Regular';
	src: url('./fonts/DroidSerif-Regular.eot');
	src: url('./fonts/DroidSerif-Regular.eot?iefix') format('eot'),
	     url('./fonts/DroidSerif-Regular.woff') format('woff'),
	     url('./fonts/DroidSerif-Regular.ttf') format('truetype'),
	     url('./fonts/DroidSerif-Regular.svg#webfont') format('svg');
}

@font-face {
	font-family: 'DroidSerif-Bold';
	src: url('./fonts/DroidSerif-Bold.eot');
	src: url('./fonts/DroidSerif-Bold.eot?iefix') format('eot'),
	     url('./fonts/DroidSerif-Bold.woff') format('woff'),
	     url('./fonts/DroidSerif-Bold.ttf') format('truetype'),
	     url('./fonts/DroidSerif-Bold.svg#webfont') format('svg');
}

@font-face {
	font-family: 'DroidSerif-Italic';
	src: url('./fonts/DroidSerif-Italic.eot');
	src: url('./fonts/DroidSerif-Italic.eot?iefix') format('eot'),
	     url('./fonts/DroidSerif-Italic.woff') format('woff'),
	     url('./fonts/DroidSerif-Italic.ttf') format('truetype'),
	     url('./fonts/DroidSerif-Italic.svg#webfont') format('svg');
}

@font-face {
	font-family: 'DroidSerif-BoldItalic';
	src: url('./fonts/DroidSerif-BoldItalic.eot');
	src: url('./fonts/DroidSerif-BoldItalic.eot?iefix') format('eot'),
	     url('./fonts/DroidSerif-BoldItalic.woff') format('woff'),
	     url('./fonts/DroidSerif-BoldItalic.ttf') format('truetype'),
	     url('./fonts/DroidSerif-BoldItalic.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('./fonts/Roboto-Regular.ttf');
}
