@import 'settings.scss';
@import 'tools.scss';

:global {
  html, body {
    font-family: t-font(body);
    font-size: t-font-size(xsmall);
    font-weight: normal;
    overflow-x: hidden;
  }

  body {
    padding-top: t-rem($headerHeight);
  }

  p, span {
    font-size: t-font-size(xsmall);
  }

  a {
    color: t-color(black);
  }

  iframe, img {
    max-width: 100%;
  }

  pre {
    background: t-color(light-grey);
    border-radius: 5px;
    color: t-color(dark-grey);
    padding: t-spacing(medium);
  }
}
