@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

.root {
  padding-top: t-rem($headerHeight);

  &.scrollLocked {
    height: 100vh;
    overflow: hidden;
  }
}

.main {
  background: t-color(white);

  @include t-respond-to-min(small) {
    padding-bottom: t-spacing(xlarge, 2);
  }
}
