@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

.root {
  font-family: t-font(heading);
}

.h2 {
  font-size: t-font-size(xlarge);
}

.h3 {
  font-size: t-font-size(large);
}

.h4, .h5, .h6 {
  font-size: t-font-size(medium);
}
