@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

$buttonSize: $headerHeight / 3;

.root {
  background: t-color(brand);
  height: t-rem($headerHeight);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: t-layer(top);

  &.hide {
    visibility: hidden;
  }
}

.title {
  margin: 0;
}

.logo {
  @include t-center;

  height: 75%;
}

.btnMenu,
.btnSearch {
  @include t-center('vertical');

  height: t-rem($buttonSize);
  width: t-rem($buttonSize);
}

.btnMenu {
  left: 0;
  margin-left: calc((#{$headerHeight} - #{$buttonSize}) / 2);
}

.btnSearch {
  margin-right: calc((#{$headerHeight} - #{$buttonSize}) / 2);
  right: 0;
}
