$base-font-size: 16px;

$fonts: (
  body: 'DroidSerif-Regular',
  body-bold: 'DroidSerif-Bold',
  body-italic: 'DroidSerif-Italic',
  body-bolditalic: 'DroidSerif-BoldItalic',
  heading: 'Cabin-Bold',
);

$font-sizes: (
  small: $base-font-size,
  medium: $base-font-size * 1.5,
  large: $base-font-size * 2,
  xlarge: $base-font-size * 3,
);
