$base-font-size: 16px;

$fonts: (
  body: 'DroidSerif-Regular',
  body-bold: 'DroidSerif-Bold',
  body-italic: 'DroidSerif-Italic',
  body-bolditalic: 'DroidSerif-BoldItalic',
  heading: 'Cabin-Bold',
  other: 'Cabin-Regular',
);

$font-sizes: (
  xsmall: $base-font-size,
  small: $base-font-size * 1.5,
  medium: $base-font-size * 1.75,
  large: $base-font-size * 2,
  xlarge: $base-font-size * 2.5,
  title: $base-font-size * 3,
);
